label{
    display:block;
    padding: 10px;
    border-radius: 50px;
}
form{
      text-align:center;
    margin:0px 500px 0px 500px;
    border-radius:30px ;
    background-color:aqua;
    }
input[type=submit]{
    
      color:aliceblue;
      background-color: brown;
    }
    input[type=submit]:hover{
        background-color: red;
    }
    #Submit{
        padding: 10px;
        border-radius: 20px;
    }

    body{
        background-color: lightpink;
    }
